<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Gescom</a>
        <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">view_week</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/">Accueil</a></li>
            <li><a href="{{ path('productList') }}">Produits</a></li>
            <li><a href="{{ path('categoryList') }}">Categories</a></li>
            <li><a href="{{ path('supplierList') }}">Fournisseurs</a></li>
            <li><a href="{{ path('userArea') }}">Mon compte</a></li>
            {% if is_granted('ROLE_USER') %}<li><a href="{{ path('logout') }}">Déconnexion</a></li>{% endif %}
        </ul>

        <ul class="side-nav" id="mobile-nav">
            <li><a href="/">Accueil</a></li>
            <li><a href="{{ path('productList') }}">Produits</a></li>
            <li><a href="{{ path('categoryList') }}">Catégories</a></li>
            <li><a href="{{ path('supplierList') }}">Fournisseurs</a></li>
            <li><a href="{{ path('userArea') }}">Mon compte</a></li>
            {% if is_granted('ROLE_USER') %}<li><a href="{{ path('logout') }}">Déconnexion</a></li>{% endif %}
        </ul>
    </div>
</nav>