{% extends '@Gescom/Default/base.html.twig' %}

{% block title %}Liste des categories{% endblock %}

{% block body %}
    <section id="category_listPage">
        <div class="row">
            <div class="col s12">
                <h3>Liste des categories</h3>
            </div>
        </div>

        <div class="top-page-bar">
            {% if is_granted('ROLE_VENDOR') %}
                {# Button to add new product #}
                <a href="{{ path('categoryAdd') }}" class="waves-effect waves-light btn add_btn">
                    <i class="material-icons left">launch</i>
                    Ajouter une nouvelle catégorie
                </a>
            {% endif %}
        </div>

        <div class="row">
            <div class="col s12">
                <table class="striped responsive-table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Description</th>
                        {% if is_granted('ROLE_MODERATOR') %}
                            <th>Modification</th>
                            <th>Suppression</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for category in categorys %}
                        <tr>
                            <td>{{ category.id }}</td>
                            <td>{{ category.name }}</td>
                            <td>{{ category.description }}</td>
                            {% if is_granted('ROLE_MODERATOR') %}
                                <td>
                                    <a class="table-icon-link" href="/categorie/{{ category.id }}/modification">
                                        <i class="material-icons left table-icon">launch</i>
                                    </a>
                                </td>
                                <td>
                                    <a class="table-icon-link" href="/categorie/{{ category.id }}/suppression">
                                        <i class="material-icons left table-icon">delete</i>
                                    </a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>

        {% if is_granted('ROLE_MODERATOR') %}
            {# Button to add new category #}
            <a href="{{ path('categoryAdd') }}" class="waves-effect waves-light btn add_btn">
                <i class="material-icons left">launch</i>
                Ajouter une nouvelle catégorie
            </a>
        {% endif %}
    </section>
{% endblock %}