{% extends '@Gescom/Default/base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="row">
        <div class="col s12">
            <h3>Inscription</h3>
        </div>
    </div>

    <div id="user_register">
        {{ form_start(form) }}

        {{ form_row(form.username) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}
        {{ form_row(form.submit) }}

        {{ form_end(form) }}
    </div>
{% endblock %}