{% extends '@Gescom/Default/base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}

    <section>
        <div class="row">
            <div class="col s12">
                <h3>Liste des produits</h3>
            </div>
        </div>

        <div class="top-page-bar">
            {% if is_granted('ROLE_VENDOR') %}
                {# Button to add new product #}
                <a href="{{ path('productAdd') }}" class="waves-effect waves-light btn add_product_btn">
                    <i class="material-icons left">launch</i>
                    Ajouter un nouveau produit
                </a>
            {% endif %}
        </div>

        <div class="row">
            <div class="col s12">
                <table class="striped responsive-table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom du produit</th>
                        <th>Catégorie</th>
                        <th>Fournisseur</th>
                        {% if is_granted('ROLE_MODERATOR') %}
                            <th>Modification</th>
                            <th>Suppression</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                            <tr>
                                <td>{{ product.id }}</td>
                                <td>{{ product.name }}</td>
                                <td>{{ product.category.name }}</td>
                                <td>
                                    {% for supplier in product.productSupplier %}
                                        <div class="chip">
                                            <img src="{{ asset('assets/img/users/avatar/avatar_man.png') }}" alt="Contact Person">
                                            {{ supplier.supplier.name }}
                                        </div>
                                    {% endfor %}
                                </td>
                                {% if is_granted('ROLE_MODERATOR') %}
                                    <td>
                                        <a class="table-icon-link" href="/produit/{{ product.id }}/modification">
                                            <i class="material-icons left table-icon">launch</i>
                                        </a>
                                    </td>
                                    <td>
                                        <a class="table-icon-link" href="/produit/{{ product.id }}/suppression">
                                            <i class="material-icons left table-icon">delete</i>
                                        </a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        {% include 'GescomBundle:Elements:pagination.html.twig' %}

        {% if is_granted('ROLE_VENDOR') %}
            {# Button to add new product #}
            <a href="{{ path('productAdd') }}" class="waves-effect waves-light btn add_product_btn">
                <i class="material-icons left">launch</i>
                Ajouter un nouveau produit
            </a>
        {% endif %}
    </section>

{% endblock %}